/*=========================================================
  Start Header
=========================================================*/
@media(max-width:992px){
	.img-to{
		margin-top: 50px;
	}
}
/*-----------------------------768px--------------------------------------------*/
@media(max-width:768px){
	header{
		padding: 50px;
	}
	ul{
		margin-top: 20px;
	}
	.mt-5, .my-5{
		margin-top: 5rem !important;
	}
	.header-info{
		margin-top: 60px;
		margin-bottom: 35px;
	}
	.header-info img{

	}
}
/*------------------------------556px-------------------------------------------*/
@media(max-width:556px){
	.mt-5, .my-5{
		margin-top: 1rem !important;
	}
	.header-info{
		margin-top: 50px;
	}
	header{
		height: 573px;
	}
}
/*------------------------------480px-------------------------------------------*/
@media(max-width:480px){
	.pd-5, .py-5{
		padding-bottom: 0rem !important;
	}
}
/*------------------------------320px-------------------------------------------*/
@media(max-width:320px){
	header .header-info h3{
		font-size: 24px;
	}
	header .header-info h1{
		font-size: 37px;
	}
	header .header-info p{
		letter-spacing: 3px;
	}

}
/*-------------------------------290px------------------------------------------*/
@media(max-width:290px){
	header .header-info h1{
		font-size: 34px;
	}

}
/*End Header*/

/*start cab*/

@media(max-width:992px){
	.cab{
		height: 630px;
	}
	.cab-right{
		margin: auto;
	}
	.pt-5, .py-5{
		padding-top: 2rem !important;
	}
	.card-info{
		padding: 3rem !important;
	}
	.rest-tob{
		margin-top: 23px;
	}
	.btnn-b{
		margin-top: 16px;
	}
}
/*--------------------------------768px-------------------------------------------*/
@media(max-width:768px){
	.cab{
		height: 1120px;
	}
	.cab-right{
		margin: auto;
		margin-top: -18px;
	}
	.pt-5, .py-5{
		padding-top: 0rem !important;
	}
	.rest-tob{
		margin-top: -62px;
	}
}
/*--------------------------------556px-------------------------------------------*/
@media(max-width:556px){
	.cab{
		height: 1060px;
	}
	.cab-left{
		padding-top: 50px !important;
	    height: 460px;
	}
	.cab .cab-left p{
		padding: 20px 0 !important;
	}
	.cab .cab-left h1{
		font-size: 36px;
	}
	.cab-right.mt-5 {
	    margin-top: 76px !important;
	}
}
/*--------------------------------320px-------------------------------------------*/
@media(max-width:320px){
	.cab{
		height: 1080px;
	}
	.cab-left{
		padding: 20px;
	}
	.cab .cab-left h4{
		font-size: 23px;
	}
	.cab .cab-left h1{
		font-size: 26px;
	}

	.cab-rigth{
		width: 280px;
	}
	.cab-right h1{
		font-size: 33px;
	}
}

/*end cab
-----------------------------------------------------------------*/

/*start card*/

@media(max-width:992px){
	.card-star img{
		margin-left: 71px;
	}
}
/*--------------------------------768px-------------------------------------------*/
@media(max-width:768px){
	.card{
		margin-top: 120px;
	}
	.card-star img{
		margin-left: 271px;
	}
	.card-info{
		padding-top: 40px;
	}
}
/*--------------------------------556px-------------------------------------------*/
@media(max-width:556px){
	.card-star img{
		margin-left: 189px;
	}
}
/*--------------------------------480px-------------------------------------------*/
@media(max-width:480px){
	.card-star img{
		margin-left: 151px;
	}
	header .header-info h1 {
    font-size: 45px;
	}
	.cab .cab-right{
		margin-top: 26px;
	}
	.rest-tob{
		margin-top: 16px;
	}
	.res-butt{
		margin-bottom: 40px;
	}
	.img-to{
		position: relative;
		top: 40px;
	}
	header{
		height: 580px;
	}
	.cab-left{
		padding-top: 24px !important;
	}
	.header-info{
		padding-top: 30px !important;
	}
}
/*--------------------------------320px-------------------------------------------*/
@media(max-width:320px){
	.card-star img{
		margin-left: 151px;
	}
}
/*end card
-----------------------------------------------------------------*/

/*start content*/
@media(max-width:992px){
	.content .content-info .content-text p{
    font-size: 16px;
	}
	.btn{
		margin-top: 14px;
	}
	.content{
		height: 856px;
	}
}
/*--------------------------------768px-------------------------------------------*/
@media(max-width:768px){
	.content{
		height: 960px;
	}
	.content .content-info .content-text p{
    font-size: 18px;
	}
	.content .content-info{
    margin-top: 50px;
	}
}
/*--------------------------------556px-------------------------------------------*/
@media(max-width:556px){
	.content{
		height: 1020px;
	}
	.btn {
    margin-top: 30px;
	}
}
/*end content*/

/*start service
--------------------------------------------*/

@media(max-width: 992px){
}
/*--------------------------------768px-------------------------------------------*/
@media(max-width: 768px){
	.content{
		height: 970px;
	}
	.container{
	margin-top: -2rem !important;
	}
	.mt-5, .my-5 {
    margin-top: 2rem !important;
	}
	.container .service-left h4{
		font-size: 30px;
	}
	.container .service-left p{
		font-size: 19px;
	}
	.button-tt{
		/*margin-top: -55px;*/
	}
	.image-l{
		margin-left: 190px;
	}
	.service-left{
		margin-top: -70px;
	}
}
/*--------------------------------556px-------------------------------------------*/
@media(max-width: 556px){
	.content{
		height: 1090px;
	}
	.container .service-left h4 {
    font-size: 23px;
    /*margin-top: -17px;*/
	}
	.container .service-left p {
    font-size: 17px;
	}
	.image-l {
    /*margin-left: 130px;*/
	}
	.img-fluid{
		/*position: absolute;*/
	}
	.imgg-l{
		/*left: 235px;*/
	}
	.service {
    padding-top: 80px;
    min-height: 652px;
    height: 1060px;
	}
	.service-left img{
		padding: 10px;
	}
}
/*end service*/
/*start testim
-----------------------------------------------------------------*/
@media(max-width: 768px){
	.testim .testim-box{
		margin-top: 30px;
	}
	.testim{
		height: 830px;
	}
}
/*--------------------------------556px-------------------------------------------*/
@media(max-width: 556px){
	.testim{
		height: 880px;
	}
}

/*end testim*/
/*start info
-----------------------------------------------------------------*/
@media(max-width: 768px){
	.main-info{
    padding: 0px 30px;
	}
}
/*end footer*/
/*start footer
-----------------------------------------------------------------*/
@media(max-width: 768px){
	.contact .container h4{
		padding-top: 35px;
	}
}



/*end footer*/
@media(max-width: 992px){
	
}